header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hide {
    display: none;
}

#show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#show ul {
    display: flex;
    list-style-type: none;
    padding-inline-end: 40px;
}

.questions, .questions2, .questions3, .questions4 {
    display: none;
}


#end {
    display: none;
}